CompileFlags:
  Add: [-DTARGET_SIMULATOR=1, -DTARGET_EXTENSION=1, -xc, -std=c17, -fpie, -W, -Wextra, -g3, -O0, -Wall, -Werror, -pedantic,
  -Wparentheses, -Wimplicit-fallthrough, -I/home/jrl/code/playdate_sdk/1.12.0/C_API] 
  Compiler: gcc
